<div class="navbar-expand-md">
    <div class="collapse navbar-collapse" id="navbar-menu-admin">
        <div class="navbar navbar-light">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" routerLink="/admin"><span class="nav-link-title">Dashboard</span></a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/"><span class="nav-link-title">Trang web</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/module/posts"><span class="nav-link-title">Bài viết</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/module/comments"><span class="nav-link-title">Bình luận</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/module/categories"><span class="nav-link-title">Danh mục</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin/module/pages"><span class="nav-link-title">Trang</span></a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#navbar-layout" data-bs-toggle="dropdown" role="button" aria-expanded="false"><span class="nav-link-title">Khác</span></a>
                        <div class="dropdown-menu">
                            <div class="dropdown-menu-columns">
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item" href="/admin/module/users">Thành Viên</a>
                                    <a class="dropdown-item" href="/admin/module/menus">Menu</a>
                                    <a class="dropdown-item" href="/admin/module/config/1fd1c2da-38de-4fee-8d23-bfff776b03c4">Cài đặt</a>
                                    <a class="dropdown-item" href="/admin/module/roles">Phân quyền</a>
                                </div>
                                <div class="dropdown-menu-column">
                                    <a class="dropdown-item" href="/admin/module/ads/99b90c04-6370-4577-beec-be37ef36fa99">Quảng Cáo</a>
                                    <a class="dropdown-item" href="/admin/module/emailsubcribe">Subcribe Email</a>
                                    <a href="/api/repair" target="_blank" class="dropdown-item">Sửa chữa hệ thống</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
