<div class="card mt-1">
    <div class="card-header">
        <h3 class="card-title">Top {{top}} lượt xem cao nhất</h3>
    </div>
    <table class="table card-table table-vcenter">
        <thead>
        <tr>
            <th></th>
            <th colspan="2">Bài viết</th>
            <th>Tác giả</th>
            <th>Lượt xem</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngFor="let row of topList; let i = index">
            <tr>
                <td>{{i + 1}}</td>
                <td>
                    <span class="avatar" [style]="{'background-image': 'url('+ row.image +')'}"></span>
                </td>
                <td><a [routerLink]="'/blog/'+row.slug" title="Mở để xem bài viết" target="_blank">{{row.title}}</a></td>
                <td>{{row.user}}</td>
                <td>{{row.views}}</td>
            </tr>
        </ng-container>
        </tbody>
    </table>
</div>
