<footer class="footer footer-transparent d-print-none" style="background-color: rgb(247, 245, 242);">
    <div class="container-sm">
        <div class="row">
            <div class="col-md-4">
                <table>
                    <tbody>
                    <tr>
                        <td style="width: 20%">
                            <a><img [src]="session.setting.system_image" [alt]="session.setting.system_name" style="width: 200px;"></a></td>
                        <td style="width: 80%;padding-left:0.5rem">
                            {{session.setting.system_info}}<br><b>Email:</b> info@simplyinvest.edu.vn<br><b>Phone:</b> 0938 994 127<br></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <h3>Theo dõi chúng tôi</h3>
                <div class="row g-2 align-items-center mb-n3">
                    <div class="col-auto mb-3">
                        <a class="btn btn-youtube w-100 btn-icon" href="https://www.youtube.com/channel/UCc7zbfRjxK20QZtSkascI7A">
                            <i class="ti ti-brand-youtube"></i>
                        </a>
                    </div>
                    <div class="col-auto mb-3">
                        <a class="btn btn-dark w-100 btn-icon" href="https://www.tiktok.com/@kinhtehocgiandon">
                            <i class="ti ti-brand-tiktok"></i>
                        </a>
                    </div>
                    <div class="col-auto mb-3">
                        <a class="btn btn-facebook w-100 btn-icon" href="https://www.facebook.com/KinhTeHocGianDon1">
                            <i class="ti ti-brand-facebook"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <h3 style="color: black">Chuyên mục</h3>
                    <div class="col-md-6">
                        <ul style="padding-left: 0">
                            <li class="list-unstyled"><h4 routerLink="/category/vi-mo" class="cursor-pointer">Vĩ mô</h4></li>
                            <li class="list-unstyled"><h4 routerLink="/category/dautu" class="cursor-pointer">Đầu tư</h4></li>
                            <li class="list-unstyled"><h4 routerLink="/category/business" class="cursor-pointer">Kinh doanh</h4></li>
                            <li class="list-unstyled"><h4 routerLink="/category/startups" class="cursor-pointer">Khởi nghiệp</h4></li>
                            <li class="list-unstyled"><h4 routerLink="/category/bat-dong-san" class="cursor-pointer">Bất động sản</h4></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul style="padding-left: 0">
                            <li class="list-unstyled"><h4 routerLink="/category/review-sach" class="cursor-pointer">Review sách</h4></li>
                            <li class="list-unstyled"><h4 routerLink="/category/xa-hoi" class="cursor-pointer">Xã hội</h4></li>
                            <li class="list-unstyled"><h4 routerLink="/category/chung-khoan" class="cursor-pointer">Chứng khoán</h4></li>
                            <li class="list-unstyled"><h4 routerLink="/category/technology" class="cursor-pointer">Tech</h4></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <ul style="padding-left: 0">
                    <li class="list-unstyled"><h3 style="color: black;">Videos</h3></li>
                    <li class="list-unstyled"><h4 routerLink="https://www.youtube.com/channel/UCc7zbfRjxK20QZtSkascI7A" class="cursor-pointer">Videos</h4></li>
                </ul>
                <label class="form-label font-weight-bold" style="color: black;">Đăng ký nhận bài mới</label>
                <div class="input-group mb-2">
                    <input [(ngModel)]="emailsubcribe" type="text" class="form-control" placeholder="Email" value="">
                    <button (click)="subcribeEmail()" class="btn btn-yellow" type="button">
                        <i class="ti ti-send"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>
