<footer class="footer footer-transparent d-print-none" style="background-color: rgb(247, 245, 242);">
    <div class="container-sm">
        <div class="row">
            <div class="col-md-4">
                <table>
                    <tbody>
                    <tr>
                        <td width="20%"><a><img src="https://nextjsweb.s3.ap-southeast-1.amazonaws.com/next-s3-uploads/80ea7cd0-a3cc-4cf9-9794-62bc8f023c5f/Asset-1logo-xanh.png" alt="Trang tin tức cập nhật về kinh tế, tài chính, kinh doanh và thị trường dành riêng cho bạn đọc trẻ, yêu thích sự đơn giản." style="width: 200px;"></a></td>
                        <td width="80%">Trang tin tức cập nhật về kinh tế, tài chính, kinh doanh và thị trường dành riêng cho bạn đọc trẻ, yêu thích sự đơn giản.<br><b>Email:</b> info@simplyinvest.edu.vn<br><b>Phone:</b> 0938 994 127<br></td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <h3>Theo dõi chúng tôi</h3>
                <div class="row g-2 align-items-center mb-n3">
                    <div class="col-auto mb-3"><a class="btn btn-youtube w-100 btn-icon" href="https://www.youtube.com/channel/UCc7zbfRjxK20QZtSkascI7A">
                        <svg class="icon icon-tabler icon-tabler-brand-youtube" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <rect x="3" y="5" width="18" height="14" rx="4"></rect>
                            <path d="M10 9l5 3l-5 3z"></path>
                        </svg>
                    </a></div>
                </div>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="list-unstyled"><h3 style="color: black;">Thành viên</h3></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Đăng ký thành viên</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Đăng nhập</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Trang thành viên</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Khôi phục mật khẩu</h4></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="list-unstyled"><h3 style="color: black;">Chuyên mục</h3></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Vĩ mô</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Đầu tư</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Kinh doanh</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Khởi nghiệp</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Bất động sản</h4></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="list-unstyled"><h3 style="color: black;">Loạt bài</h3></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Tại sao</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Toàn cảnh</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Giải nghĩa</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Covid</h4></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Digital</h4></li>
                </ul>
            </div>
            <div class="col-md-2">
                <ul>
                    <li class="list-unstyled"><h3 style="color: black;">Videos</h3></li>
                    <li class="list-unstyled"><h4 class="cursor-pointer">Videos</h4></li>
                </ul>
                <label class="form-label font-weight-bold" style="color: black;">Đăng ký nhận bài mới</label>
                <div class="input-group mb-2"><input type="text" class="form-control" placeholder="Email" value="">
                    <button class="btn btn-yellow" type="button">
                        <svg class="icon icon-tabler icon-tabler-send" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <line x1="10" y1="14" x2="21" y2="3"></line>
                            <path d="M21 3l-6.5 18a0.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a0.55 .55 0 0 1 0 -1l18 -6.5"></path>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</footer>
