<ng-container *ngIf="loadedSystemInfo">
    <div *ngFor="let row of config" class="row">
        <div *ngFor="let field of row" [class]="'form-group mb-3 col-md-'+getFieldSpan(field)">

            <label *ngIf="!isFieldNoLabel(field)" [class]="'form-label '+getFieldRequired(field)">{{getLabel(field)}}</label>

            <input *ngIf="getFieldType(field)=='varchar'" [maxLength]="getFieldLen(field)" [(ngModel)]="bean[getFieldName(field)]" type="text" class="form-control">
            <textarea *ngIf="getFieldType(field)=='text'" [(ngModel)]="bean[getFieldName(field)]" class="form-control"></textarea>
                <input *ngIf="getFieldType(field)=='bool'" [(ngModel)]="bean[getFieldName(field)]" type="checkbox" class="form-check-input">
            <FormFieldEditorComponent *ngIf="getFieldType(field)=='html'" (onData)="bean[getFieldName(field)]=$event" [content]="bean[getFieldName(field)]"></FormFieldEditorComponent>
            <ng-select2 *ngIf="getFieldType(field)=='enum'" width="100%" [(ngModel)]="bean[getFieldName(field)]" [data]="getFieldOptions(field)"></ng-select2>
            <FormFieldImageComponent *ngIf="getFieldType(field)=='image'" [name]="getFieldName(field)" [src]="bean[getFieldName(field)]" (onData)="bean[getFieldName(field)]=$event"></FormFieldImageComponent>
            <ng-select2 *ngIf="getFieldType(field)=='id' && enableFieldRelate(field)" width="100%" [(ngModel)]="bean[getFieldName(field)]" [data]="getFieldRelateOptions(field)"></ng-select2>
        </div>
    </div>
</ng-container>
