<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs" style="font-weight:700">
                        <li class="breadcrumb-item">
                            <a href="#">
                                <i class="ti ti-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page"><a>{{beanName}}</a></li>
                        <li class="breadcrumb-item" aria-current="page"><a>{{bean.name}}</a></li>
                    </ol>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="d-flex">
                        <div class="input-group">
                            <button (click)="saveData()" class="btn btn-primary order-last">Lưu</button>
                            <a [routerLink]="'/admin/'+routerModule" class="btn order-last">Huỷ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <FormFormComponent [beanName]="beanName" [moduleName]="moduleName" [bean]="bean" [config]="config"></FormFormComponent>
                </div>
            </div>
        </div>
    </div>
</div>
