<div class="page-wrapper">
    <div class="page-header d-print-none">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">
                    <ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs" style="font-weight:700">
                        <li class="breadcrumb-item"><a href="#">
                            <svg class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <polyline points="5 12 3 12 12 3 21 12 19 12"></polyline>
                                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7"></path>
                                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6"></path>
                            </svg>
                        </a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a>Thành viên</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a>admin admin</a></li>
                        <li class="breadcrumb-item active" aria-current="page"><a>sửa {{id}}</a></li>
                    </ol>
                </div>
                <div class="col-auto ms-auto d-print-none">
                    <div class="d-flex">
                        <div class="input-group">
                            <button class="btn btn-primary order-last">Lưu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <FormFormComponent></FormFormComponent>
                </div>
            </div>
        </div>
    </div>
</div>
