<div class="page page-center">
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <a routerLink="/">
                <img [src]="session.setting.system_image" height="100" width='auto' alt=""/>
            </a>
        </div>
        <div class="card card-md">
            <div class="card-body">
                <div class="mb-3">
                    <label class="form-label">Tên tài khoản</label>
                    <input [(ngModel)]="username" type="text" class="form-control" placeholder="Tên tài khoản"/>
                </div>
                <div class="mb-2">
                    <label class="form-label">Mật khẩu</label>
                    <div class="input-group input-group-flat">
                        <input [(ngModel)]="password" type="password" class="form-control" placeholder="Mật khẩu"/>
                    </div>
                    <span class="form-label-description mt-1"><a>Quên mật khẩu</a></span>
                </div>
                <div class="form-footer">
                    <button (click)="login()" type="button" class="btn btn-primary w-100">Đăng nhập</button>
                </div>
            </div>
        </div>
        <div class='text-center'>
            <button (click)="loginWithGoogle()" type="button" class="btn btn-google" style="margin-top:0.5rem">
<!--                <i class="ti ti-brand-google"></i>-->
                Đăng nhập với Google
            </button>
        </div>
        <div class="text-center text-muted mt-3">
            <a routerLink="/">&gt;&gt;Về trang chủ&lt;&lt;</a>
        </div>
    </div>
</div>
