<div class="page-wrapper">
    <div class="page-header d-print-none mt-0">
        <div class="container-sm">
            <div class="page-header d-print-none">
                <div class="row align-items-center">
                    <div class="col">
                        <!-- Page pre-title -->
                        <h2 class="page-title">
                            Dashboard
                        </h2>
                    </div>
                    <!-- Page title actions -->
                    <div class="col-auto ms-auto d-print-none">
                        <div class="btn-list">
                            <a id="interval-select" class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-clock"></i></span>
                                <span class="nav-link-title">{{displayInterval}}</span>
                            </a>
                            <div id="interval-menu" class="dropdown-menu">
                                <ng-container *ngFor="let interval of intervalOptions">
                                    <i class="dropdown-item cursor-pointer" (click)="selectInterval(interval.value)">
                                        {{interval.display}}
                                    </i>
                                </ng-container>
                            </div>
                            <a id="topic-select" class="nav-link dropdown-toggle" href="#navbar-extra" data-bs-toggle="dropdown" data-bs-auto-close="outside" role="button" aria-expanded="false">
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><i class="ti ti-folder"></i></span>
                                <span class="nav-link-title">{{displayTopic}}</span>
                            </a>
                            <div id="topic-menu" class="dropdown-menu">
                                <ng-container *ngFor="let item of topicOptions">
                                    <i class="dropdown-item cursor-pointer" (click)="selectTopic(item.id)">
                                        {{item.name}}
                                    </i>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="page-body">
        <div class="container-sm">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-12" AdminChartViewsComponent [interval]="selectedInterval"></div>
                    </div>

                    <div class="row">
                        <div class="col-12" AdminChartBlogUserComponent [interval]="selectedInterval"></div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4" AdminTopViewsComponent [interval]="selectedInterval" [topic]="selectedTopic">
                </div>
            </div>
        </div>
    </div>
</div>
