<h1 class="text-center">Adminnitration</h1>
<div class="row">
    <div class="form-group mb-3 col-md-4">
        <label  class="form-label">AAA</label>
        <FormFieldEditorComponent></FormFieldEditorComponent>
    </div>
</div>
<div class="row">
    <div class="form-group mb-3 col-md-4">
        <label  class="form-label">AAA</label>
        <FormFieldImageComponent ></FormFieldImageComponent>
    </div>
</div>
<div class="row">
    <div class="form-group mb-3 col-md-4">
        <label  class="form-label">AAA</label>
        <input type="text" class="form-control">
    </div>
</div>
