RewriteEngine On

RewriteCond %{REQUEST_URI} ^(.*)KREST(.*)$
RewriteRule ^ KREST/krestlegacy.php [QSA,L]

RewriteCond %{REQUEST_URI} ^(.*)soap(.*)$
RewriteRule ^ service/v4_1/soap.php [QSA,L]

RewriteCond %{REQUEST_URI} ^(.*)cron.php(.*)$
RewriteRule ^ cron.php [QSA,L]

RewriteCond %{REQUEST_URI} !^(.*)KREST(.*)$
RewriteRule ^ index.php [QSA,L]
